@import './index.scss';
.login-form {
  padding: 38px 13px 75px;
  .el-input__inner {
    width: 100%;
    height: 52px;
    font-size: 16px;
  }
  .captcha-input {
    width: 177px;
    .el-input__inner {
      width: 177px;
    }
  }
  .captcha {
    float: right;
    height: 50px;
    width: 120px;
  }
  .el-form-item {
    margin-bottom: 17px;
  }
  .el-button--primary {
    height: 52px;
    background-color: #F07026;
    border-color: #F07026;
    font-size: 18px;
  }
}

//----统计----begin
.statistic {
  width: 495px;
  overflow: hidden;
  padding: 53px 20px 42px;
  display: block;
  float: left;
  &>div {
    float: left;
    width: 50%;
    text-align: center;
    span {
      color: #f07026;
      font-size: 32px;
      font-weight: 600;
    }
    p {
      color: #333;
      font-size: 16px;
      margin-top: 10px;
    }
  }
}

//----统计----end
//----登录框
.login-container {
  display: inline-block;
  width: 411px;
  height: 422px;
  background-color: #f5f5f5;
  padding: 45px 25px 75px;
  header {
    position: relative;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    &:after {
      content: " ";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      background-color: #bfbfbf;
    }
    p {
      text-align: center;
      width: 50%;
      float: left;
      padding: 10px;
      margin: 0;
      color: #333;
      font-size: 20px;
      transition: transform 0.4s;
      transform: scale(0.8);
      &.active {
        color: #f07026;
        transform: scale(1);
      }
    }
    .tab-nav {
      position: absolute;
      width: 181px;
      transform: translateX(0);
      background-color: #f07026;
      z-index: 3;
      bottom: 0;
      content: " ";
      transition: transform 0.2s;
      height: 3px;
      left: 0;
    }
    .tab-nav-pwd {
      transform: translateX(100%);
    }
  }
  .tip {
    float: right;
    font-size: 16px;
    color: #333;
    margin-top: 18px;
    span {
      color: #f07026;
    }
  }
}

//----首页搜索框---begin
.search-containter {
  display: block;
  float: left;
  overflow: hidden;
  width: 704px;
  margin-top: 27px;
  .search-type {
    overflow: hidden;
    text-align: left;
    p {
      display: block;
      float: left;
      height: 30px;
      width: 51px;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      color: #999;
      &.active {
        color: #fff;
        background-color: #f07026;
      }
    }
  }
  .search-main {
    height: 54px;
    position: relative;
    width: 100%;
    .svg-container-search {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 19px;
      height: 100%;
      margin-left: 12px;
    }
    input {
      height: 100%;
    }
    .search-word {
      width: 100%;
      padding: 0 125px 0 40px;
      border: 1px solid $maincolor;
    }
    .search-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 122px;
      background-color: $maincolor;
      border: none;
      color: #fff;
      font-size: 18;
    }
  }
  .hot-search {
    font-size: 14px;
    margin-top: 7px;
    line-height: 1.5;
    color: #999;
    span {
      margin-right: 8px;
    }
  }
}

//----首页搜索框---end
//----简历列表----begin
.resume-list-warp {
  width: 100%;
  background-color: #f5f5f5;
  .resume-list-header {
    width: 1201px;
    margin: 0 auto;
    overflow: hidden;
    padding: 23px 0 16px;
    span {
      color: #333;
      font-size: 16px;
      display: block;
      padding-top: 4px;
    }
    h2 {
      font-weight: normal;
      font-size: 20px;
      color: $maincolor;
    }
  }
  .resume-list {
    width: 1201px;
    margin: 0 auto;
    overflow: hidden; // background-color: rgb(128, 76, 76);
    .el-carousel__container {
      width: 1201px;
      overflow: hidden;
      height: 500px;
    }
  }
}

.resume-item {
  background-color: #fff;
  border-radius: 6px;
  float: left;
  overflow: hidden;
  width: 388px;
  margin-right: 18px;
  margin-bottom: 18px; // padding: 20px 18px 28px;
  position: relative;
  cursor: pointer;
  .visit {
    display: none;
    color: #fff
  }
  &:hover {
    .visit {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #333;
      filter: Alpha(opacity=70);
      -moz-opacity: 0.7;
      opacity: 0.7;
      min-height: 142px;
      z-index: 10;
    }
  }
  &:nth-of-type(3n) {
    float: right;
    margin-right: 0px;
  }
  .visit-date {
    position: absolute;
    top: 11px;
    right: 9px;
    font-size: 12px;
    color: #999;
  }
  .resume-main-warp {
    margin-bottom: 20px;
    .resume-main {
      overflow: hidden;
      padding: 20px 18px 0px;
      .phone {
        height: 103px;
        width: 103px;
      }
      .resume-info {
        margin-left: 115px;
        margin-top: 22px;
        &>div {
          margin-top: 9px;
        }
        .info-base {
          span {
            font-size: 12px;
            color: #999;
          }
        }
      }
      h3 {
        color: #333;
        font-size: 16px;
        display: inline;
        margin-right: 5px;
      }
    }
    span {
      line-height: 100%;
      font-size: 14px; // margin-right: 10px;
    }
    .education {
      padding: 0 18px;
      margin-top: 1px;
      p {
        margin-top: 7px;
      }
    }
  }
  .br3 {
    padding-right: 8px;
    border-right: 1px solid #333;
  }
  .br9 {
    padding-right: 5px;
    border-right: 1px solid #999;
  }
  .resume-introduce {
    position: relative;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    padding: 16px 20px 0;
    margin-bottom: 28px;
    height: 123px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    h3 {
      font-size: 15px;
      color: #333;
      display: inline;
    }
    &:after {
      position: absolute;
      content: ' ';
      z-index: 9;
      top: 0px;
      left: 0;
      right: 0;
      width: 388px;
      height: 1px;
      background-color: #eeeeee;
    }
  }
  .resume-item-footer {
    float: left;
    height: 50px;
    width: 100px;
    width: 100%;
    line-height: 50px;
    padding-left: 18px;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #eee;
    a {
      margin-right: 40px;
      cursor: pointer;
    }
  }
}

//----简历列表----end
//----排行版----begin
.ranking-list {
  width: 100%;
  background-color: #ffffff;
  .ranking-warp {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 1201px;
  }
  .ranking-item {
    width: 50%;
    box-sizing: border-box;
    &.fl {
      padding-right: 51px;
    }
    &.fr {
      padding-left: 51px;
    }
    .ranking-header {
      overflow: hidden;
      padding: 19px 0;
      h2 {
        font-weight: 700;
        font-size: 20px;
        color: $maincolor;
      }
      span {
        padding-top: 6px;
        color: #666;
        font-size: 14px;
      }
    }
    &.fl z {
      color: #e83902;
      font-size: 16px;
    }
  }
  .brpos {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      right: -51px;
      top: -14px;
      bottom: 0;
      height: 220px;
      width: 1px;
      background-color: #eee;
    }
  }
  .ranking-item-warp {
    margin-bottom: 7px;
  }
  .ranking-man {
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin: 0 17px 0 15px;
  }
  .ranking-icon {
    margin-right: 7px;
  }
  .total-profit {
    float: right;
    font-size: 14px;
    color: #333;
  }
}

.icon-num-ranking {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 29px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #e83902;
  text-align: center;
}

.icon-num-ranking-bg2 {
  background-color: $maincolor;
}

.icon-evaluate {
  display: inline-block;
  width: 44px;
  height: 22px;
  line-height: 22px;
  background-color: #e73802;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 12px;
}

.ranking-icon {
  display: inline-block;
  width: 28px;
  height: 25px;
  background-image: url('../../assets/index/ranking.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

//----排行榜----end
//----底部菜单----begin
.footer-menu {
  width: 100%;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 50px 0 15px;
  text-align: center;
  overflow: hidden;
  .footer-menu-item {
    display: inline-block;
    margin-right: 176px;
    width: 224px;
    height: 224px;
    background-color: #fff;
    border: 2px solid #FC964F;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
      background-color: #FBA366;
      border: 2px solid #FF6C06;
      h1 {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
    h1 {
      transition: color 0.5s;
      color: #FF6C06;
      font-size: 42px;
      font-weight: normal;
      margin: 74px 0px 21px;
    }
    p {
      transition: color 0.5s;
      font-size: 16px;
      color: #333;
    }
  }
  .footer-menu-item:last-child {
    margin-right: 0px;
  }
}

//----底部菜单----end
