@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
// @import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}
/*
  --------------------->
  底部footer永远在底部
  main-container无内容时
  footer不会脱离底部
*/
html,body{
  height: 100%;
}
#app,.app-wrapper{
  height: 100%;
}
.main-container{
  min-height: 100%;
  position: relative;
}
.main-container{
  position: relative;
  margin-top: -100px;
}
.page-footer {
  width: 100%;
  height: 100px;
  background-color: #f7f7f7;
}
/*<---------------------*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%;
}

.app-container {
  padding: 20px;
}
