$maincolor:#f07026;
.blpl {
  border-left: 3px solid $maincolor;
  padding-left: 8px;
}

.theme-color {
  color: $maincolor;
}

.fs12c9 {
  font-size: 12px;
  color: #999;
}

.ml0 {
  margin-left: 0px !important;
}

.share-total {
  font-size: 16px;
  color: #333;
  margin-bottom: 18px;
  span {
    color: #f07026;
  }
}

.search-main {
  background-color: #fff;
  height: 46px;
  position: relative;
  width: 100%;
  .svg-container-search {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 19px;
    height: 100%;
    margin-left: 12px;
  }
  input {
    height: 100%;
  }
  .search-word {
    width: 100%;
    padding: 0 125px 0 40px;
    border: 1px solid $maincolor;
  }
  .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 83px;
    background-color: $maincolor;
    border: none;
    color: #fff;
    font-size: 18;
  }
}

.rome-warp {
  width: 100%;
  background-color: #f5f5f5;
}

.rome {
  width: 1201px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  .sidebar {
    float: left;
    width: 253px;
    background-color: #fff;
    ul {
      background-color: #f5f5f5;
      li {
        display: block;
        background-color: #fff;
        height: 57px;
        line-height: 57px;
        font-size: 16px;
        color: #333;
      }
      .user-menu a {
        display: block;
        padding-left: 79px;
        cursor: pointer;
        position: relative;
        &.active:after {
          position: absolute;
          content: "";
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 4px;
          background-color: #f07026;
        }
        &:hover:after {
          position: absolute;
          content: "";
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 4px;
          background-color: #f07026;
        }
      }
      .user-info {
        width: 253px;
        height: 223px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 19px;
        h1 {
          margin: 14px 0 10px;
          font-size: 18px;
          color: #333;
        }
        .user-tag {
          font-size: 16px;
          color: #333;
        }
        .score {
          color: #f07026;
          margin-right: 5px;
        }
        .icon-evaluate {
          vertical-align: top;
        }
        .user-phone {
          display: block;
          height: 94px;
          width: 94px;
          margin: 0 auto;
        }
      }
    }
  }
  .rome-main {
    margin-left: 271px;
  }
}

.icon-evaluate {
  display: inline-block;
  width: 44px;
  height: 22px;
  line-height: 22px;
  background-color: #e73802;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 12px;
}

.ranking-icon {
  display: inline-block;
  width: 28px;
  height: 25px;
  background-image: url("../../assets/index/ranking.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-rome {
  display: inline-block;
  width: 19px;
  height: 24px;
  background-image: url("../../assets/index/rome.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-prefit {
  display: inline-block;
  width: 19px;
  height: 24px;
  background-image: url("../../assets/index/prefit.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.rome-main {
  .page-header {
    color: #333;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .search-warp {
    width: 100%;
    background-color: #fff;
    padding: 20px 41px 22px;
    margin-top: 18px;
    .search-main {
      width: 547px;
    }
  }
}

.resume-main-warp {
  float: left;
}

.resume-introduce {
  float: right;
}

//----我的任务
.tasklist {
  background-color: #fff; //保证高度大于等于侧边菜单
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  a {
    display: block;
    padding: 26px 91px 26px 45px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #eee;
    .task-tip {
      font-size: 12px;
      color: #999;
      margin-left: 8px;
    }
  }
}
